body{
    margin: auto 0;
    font-family: Arial;
}


.zone{
    color:#fff;
    border-radius: 4px;
}


/*NAVIGATION*/

.header{
    background: linear-gradient(#7abcff 0%,#60abf8 44%,#4096ee 100%);

}

.sticky{
      position: fixed;
      top: 0;
      width: 100%;
}

.main-nav{
    display: flex;
    list-style: none;
    font-size: 1.1em;
    margin: 0;   
}

@media only screen and (max-width: 600px){
    .main-nav{
        font-size: 0.9em;
        padding: 0;
    }
}

li{
    
    padding: 15px;
}

a{
    color:#f5f5f6;
    text-decoration: none;
}

.push{
    margin-left: auto;
}



/*COVER*/

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.cover-img{
    width: 30rem;
}

/*GRID*/

.project-grid{
    background: linear-gradient(#76b0f8 0%, #3a8deb 100%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1em;
    
}

.grid-zone{
    background: #444;
    padding: 130px;
    margin: 15px;    
}

.grid-zone:hover {
    transform: rotate(-7deg);
}

.grid-zone img{
    width: 100%;
}


/*FOOTER*/

.footer{
     background: linear-gradient(#7abcff 0%,#60abf8 44%,#4096ee 100%);
    text-align: center;
    padding: 15px;
    
}